.wrapper{
    margin: 0 auto;
    width: 50%;
    border: 1px solid #7a7979; 
    padding: 10px;
    text-align: center;
    height: 390px;
}
.wrapper h4{
    font-size: 25px;
}
.form_sec{
    height: 70px;
}
.form_sec  label{
    font-size: 20px;
    display: block;
   margin-right: 10px;
   margin-bottom: 10px;
   
}

.form_sec  label span{
    font-size: 20px;
    display: block;
   margin-right: 10px;
   margin-bottom: 10px;
   color: green;
}



.form_sec input[type=text],.form_sec input[type=tel]{
    width: 300px;
    height: 25px;
    font-size: 18px;
}
.form_sec button{
    width: 200px;
    height: 35px;
    font-size: 18px;
    background-color: rgb(59, 109, 13);
    border: none;
    color: #fff;
}