<div class="wrapper">
  <h4>Phone Book</h4>
  <div class="form_sec">
    <label >Change input letters:</label>
  <input type="text" [(ngModel)]="letter">
  </div>
  
  
  <div class="form_sec">
    <button (click)="LetterChanges()">Check</button>
  </div>

  <div class="form_sec">
    <label  *ngIf="letter != undefined">Input: <span>{{letter}}</span></label>
    <label  *ngIf="NewForm != undefined">Output: <span>{{NewForm}}</span></label>
  </div>
  

    

  
</div>